* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.paper1 {
  background-color: #085881;
  display: flex;
  justify-content: space-between;
}
.leftpaper1 {
  padding: 5rem;
}

.circle {
  background: #d9d9d9;
  padding: 9rem;
  border-radius: 50%;
  max-width: 360px;
  height: 300px;
  margin-top: 5.8rem;
  margin-right: 5.8rem;
}
.rightimg1 {
  position: relative;
  z-index: 2;
}

.leftpaper1 h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  line-height: 50px;
  white-space: nowrap;
  top: 6.25%;
  color: #ffffff;
}
.leftpaper1 h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  line-height: 50px;

  top: 6.25%;
  color: #ffffff;
}
.team {
  margin-top: 30px;
  white-space: nowrap;
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  display: flex;
}
#fArrow {
  /* padding-top: 7px; */
  font-size: 16px;
  margin-top: 3px;
  margin-left: 4px;
}
@media (max-width: 883px) {
  .paper1 {
    flex-direction: column;
  }
  .circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .leftpaper1 {
    width: 100%;
  }
}
@media (max-width: 546px) {
  .leftpaper1 {
    padding: 2rem;
  }
  .leftpaper1 h2 {
    font-size: x-large;
  }
}
